<info>
  <div class="info">
    <div>
      <img src="../../icons/Icon.png" alt="" />
      <p class="info-paragraph">
        Welcome to our cosy cabin in the woods! Our rental home, nestled in the
        heart of the forest, is the ideal retreat for nature lovers and anyone
        looking for a peaceful escape from the hustle and bustle of city life.
      </p>
    </div>
    <div>
      <div>
        <p class="info-title">Dense forest</p>
        <h1 class="info-details">
          20,291<span class="info-sup">m<sup>2</sup></span>
        </h1>
      </div>
      <div class="info-middle">
        <p class="info-title">Living space</p>
        <h1 class="info-details">
          324<span class="info-sup">m<sup>2</sup></span>
        </h1>
      </div>
      <div class="info-middle">
        <p class="info-title">Proximity to nearest town</p>
        <h1 class="info-details">30<span class="info-sup">minutes</span></h1>
      </div>
    </div>
  </div>
</info>
