<signUpForm>
  <div class="sign-up">
    <div class="sign-up-bg">
      <h1 class="sign-up-title">
        Sign up and <span class="get-10">get 10%</span> off your stay
      </h1>
      <p class="signup-paragraph">
        Not boring old news, just updates for our rentals. Take up on our
        offers.
      </p>
      <div class="signUp">
        <label for="">
          <input class="signUp-input" type="text" placeholder="Email address" />
          <button class="discount">Get 10% Off</button>
        </label>
      </div>
    </div>
  </div>
</signUpForm>
