<about class="about-us">
  <div>
    <img src="../../images/aboutImg/about.png" alt="" />
  </div>
  <div class="about">
    <div class="about-content">
      <div class="first-img">
        <img src="../../images/aboutImg/aboutImg01.png" alt="" />
      </div>
      <div class="about-title">About us</div>
      <div class="second-img">
        <img src="../../images/aboutImg/aboutImg02.png" alt="" />
      </div>
    </div>
    <div class="about-bottom">
      <div><img src="../../images/aboutImg/aboutImg03.png" alt="" /></div>
      <div class="fourth-img">
        <img src="../../images/aboutImg/aboutImg04.png" alt="" />
      </div>
    </div>
    <p class="about-paragraph">
      <span class="paragraph-style">At The</span> Wilderness Retreat,
      <span class="paragraph-style">we pride ourselves on offering a</span>
      peaceful, serene
      <span class="paragraph-style"
        >atmosphere that allows our guests to truly </span
      >disconnect from the stresses
      <span class="paragraph-style"
        >of everyday life. Whether you want to spend your days </span
      >exploring <span class="paragraph-style">the nearby</span> trails, fishing
      <span class="paragraph-style">in the nearby stream, or simply</span>
      soaking in the hot tub
      <span class="paragraph-style">as you take in the</span> beauty of your
      surroundings.
    </p>
  </div>
</about>
