<testimonials>
  <div class="testimonials">
    <h1 class="testimonials-title">
      Experience the Magic of The Wilderness Retreat
    </h1>
    <p class="testimonials-paragraph">
      Welcome to our cosy cabin in the woods! Our rental home, nestled in the
      heart of the forest.
    </p>
  </div>
  <div class="testimonials-slider">
    <div>
      <img
        class="testimonials-img"
        src="../../images/testimonialsImg/testimonialsImg01.png"
        alt=""
      />
      <div class="testimonial-box">
        <div class="icon">✌️</div>
        <h1 class="testimonials-box-title">Peaceful</h1>
        <p class="testimonials-text">
          "We had such a wonderful time at The Wilderness Retreat. The cabin was
          cozy and co...
        </p>
        <div class="testimonial-shadow"></div>
      </div>
    </div>
    <div>
      <img
        class="testimonials-img"
        src="../../images/testimonialsImg/testimonialsImg02.png"
        alt=""
      />
      <div class="testimonial-box">
        <div class="icon">✌️</div>
        <h1 class="testimonials-box-title">Peaceful</h1>
        <p class="testimonials-text">
          "We had such a wonderful time at The Wilderness Retreat. The cabin was
          cozy and co...
        </p>
        <div class="testimonial-shadow"></div>
      </div>
    </div>
    <div>
      <img
        class="testimonials-img"
        src="../../images/testimonialsImg/testimonialsImg03.png"
        alt=""
      />
      <div class="testimonial-box">
        <div class="icon">✌️</div>
        <h1 class="testimonials-box-title">Peaceful</h1>
        <p class="testimonials-text">
          "We had such a wonderful time at The Wilderness Retreat. The cabin was
          cozy and co...
        </p>
        <div class="testimonial-shadow"></div>
      </div>
    </div>
    <div>
      <img
        class="testimonials-img"
        src="../../images/testimonialsImg/testimonialsImg02.png"
        alt=""
      />
      <div class="testimonial-box">
        <div class="icon">✌️</div>
        <h1 class="testimonials-box-title">Peaceful</h1>
        <p class="testimonials-text">
          "We had such a wonderful time at The Wilderness Retreat. The cabin was
          cozy and co...
        </p>
        <div class="testimonial-shadow"></div>
      </div>
    </div>
    <div>
      <img
        class="testimonials-img"
        src="../../images/testimonialsImg/testimonialsImg03.png"
        alt=""
      />
      <div class="testimonial-box">
        <div class="icon">✌️</div>
        <h1 class="testimonials-box-title">Peaceful</h1>
        <p class="testimonials-text">
          "We had such a wonderful time at The Wilderness Retreat. The cabin was
          cozy and co...
        </p>
        <div class="testimonial-shadow"></div>
      </div>
    </div>
  </div>
  <div class="testimonial-arrow">
    <div id="nextBtn" class="left-arrow">
      <img src="../../icons/leftArrow.png" alt="" />
    </div>
    <div id="backBtn" class="right-arrow">
      <img src="../../icons/rightArrow.png" alt="" />
    </div>
  </div>
</testimonials>
