<uniqueRoom>
  <img class="uniquq" src="../../images/uniqueRoom/Intersect.png" alt="" />
  <p class="unique-paragraph">Our unique rooms within the wilderness retreat</p>
  <div class="cabins">
    <div class="cabin-card">
      <img src="../../images/cabins/Cabins01.png" alt="" />
      <p class="cabin-text">Majestic Mountain</p>
    </div>
    <div>
      <img src="../../images/cabins/Cabins02.png" alt="" />
    </div>
    <div class="cabin-card">
      <img src="../../images/cabins/Cabins03.png" alt="" />
      <p class="cabin-text">Majestic Mountain</p>
    </div>
  </div>
</uniqueRoom>
