<uniqueRoom>
  <img class="unique" src="../../images/uniqueRoom/Intersect.png" alt="" />
  <p class="unique-paragraph">Our unique rooms within the wilderness retreat</p>
  <div class="cabins">
    <div class="cabin-card">
      <img src="../../images/cabins/Cabins01.png" alt="" />
      <p class="cabin-text">Majestic Mountain</p>
    </div>
    <div class="cabin-card">
      <img src="../../images/cabins/Cabins02.png" alt="" />
      <div class="middle-cabin">
        <div class="cabin-inner">
          <div>
            <p class="cabin-middle-text">Cozy Cabin</p>
            <p class="cabin-paragraph">
              For the times when life is too much, quit everything and enjoy the
              woods
            </p>
          </div>
          <div>
            <img class="cabin-icon" src="../../icons/cabinicon.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="cabin-card">
      <img src="../../images/cabins/Cabins03.png" alt="" />
      <p class="cabin-text">Majestic Mountain</p>
    </div>
  </div>
</uniqueRoom>
